<style>
  {% if page.layout == 'news_item' or page.layout == 'news' %}
  .content-container {
    max-width: 1200px !important;
    width: 88% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box !important;
  }
  {% endif %}
</style>

{%- include top.html -%}

<body class="wrap">
  {%- include header.html -%}

  {% if page.layout == 'news_item' or page.layout == 'news' %}
    <div class="content-container">
      {{- content -}}
    </div>
  {% else %}
    {{- content -}}
  {% endif %}

  {%- include footer.html -%}
  <!-- باقي السكربتات -->
</body>
</html>
