---
layout: default
---

<style>
.my-container {
  width: 88%; /* تفعيل نسبة 88% من عرض الشاشة الكلي */
  max-width: 1200px; /* لمنع تمدده بشكل مبالغ فيه على الشاشات الضخمة جداً */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
</style>
<section class="news">
  <div class="my-container">
  <div class="grid">
    {% include news_contents_mobile.html -%}
    <div class="unit four-fifths">
      {{- content -}}
    </div>
    {% include news_contents.html -%}
    <div class="clear"></div>
  </div>
    </div>
</section>
