---
layout: default
---

<style>
.my-container {
  max-width: 1140px; /* العرض الأقصى المشابه لـ Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  box-sizing: border-box;
}
</style>
<section class="news">
  <div class="my-container">
  <div class="grid">
    {% include news_contents_mobile.html -%}
    <div class="unit four-fifths">
      {{- content -}}
    </div>
    {% include news_contents.html -%}
    <div class="clear"></div>
  </div>
    </div>
</section>
